<h2>Step 1: Choose your model and color</h2>

<div class="row">
  <p>Model:</p>
  <select id="modelSelect" [(ngModel)]="selectedModel">
    <option [ngValue]="null">Choose model...</option>
    <option *ngFor="let model of models" [ngValue]="model.code">{{model.description}}</option>
  </select>

  <ng-container *ngIf="availableColors.length > 0">
    <p>Color:</p>
    <select id="colorSelect" [(ngModel)]="selectedColor">
      <option [ngValue]="null">Choose color...</option>
      <option *ngFor="let color of availableColors" [ngValue]="color.code">{{color.description}}</option>
    </select>
  </ng-container>
</div>

<div class="row" *ngIf="carImageUrl; else emptyImage">
  <img [src]="carImageUrl" alt="Car model">
</div>

<ng-template #emptyImage>
  <h3>Please select model and color to see the car.</h3>
</ng-template>
